<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Title</title>

    <link rel="stylesheet" href="../../main/resources/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../main/resources/static/css/main.css">
    <script src="../static/js/mainrest.js"></script>
</head>
<body>
    cvfgbhng!!!!

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="../../main/resources/static/views/new.html">Создать</a>
            </div>
            <div class="col">
                <a href="delete.html">Удалить</a>
            </div>
            <div class="col">
                <a href="../../main/resources/static/views/update.html">Редактировать</a>
            </div>
            <div class="col">
                <a href="../../main/resources/static/views/select.html">Выбор</a>
            </div>
        </div>
    </div>
</section>
<div id="data3"></div>
</body>
</html>