<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>new</title>

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="../js/jquery.min.js"></script>
</head>
<body>
    new
    <div>
        <button onclick="makePost()">Отправить post</button>
    </div>
    <div id="idrez"></div>

    <div class="col">
        <a href="../index.html">Домой</a>
    </div>
    <script src="../js/newjs.js"></script>
</body>
</html>